<div class="homepage">
  <div class="container col-12">
    <div class="row justify-content-center">
         <%= image_tag "sommeil2.jpg", class: "logo" %>
     </div>
  </div>
  <div class="container">
        <div class="row">
         <div class="col-md-4 col-sm-4 mb-4 mb-md-0">
              <%= image_tag "endormi.png", class: "logobis" %>
                <h6>« S’endormir est un phénomène qui paraît individuel. Mais dormir est en réalité le fruit de tout un écosystème, que constituent notre literie, le monde du travail, l’environnement acoustique, notre rapport aux écrans, et tant d’autres explications liées à notre civilisation. »</h6>
         </div>
         <div class="col-md-4 col-sm-4 mb-4 mb-md-0">
          <%= image_tag "union.png", class: "logobis" %>
            <h6>« La Guilde du sommeil regroupe acteurs publics et privés qui se reconnaissent dans cette vision « collective » du sommeil. Nous nous sommes fédérés pour proposer des solutions aux collectivités locales, aux entreprises, à celles et ceux que les enjeux de notre repos intéressent. »</h6>
         </div>
         <div class="col-md-4 col-sm-4 mb-4 mb-md-0">
          <%= image_tag "convaincre.png", class: "logobis" %>
            <h6>« Mais la vocation de la Guilde est plus large. Nous sommes des défenseurs du sommeil, des <i>sleep activist</i>  selon l’expression américaine. Épicuriens du bien dormir, nous voulons sensibiliser le grand public en même temps que les pouvoirs publics sur les enjeux d’un sommeil de qualité. »</h6>
         </div>
        </div>
  </div>
</div>


