.fond {
  background-color: white;
  width: auto;
}

.logoter {
  padding-bottom: 10px;
}

.reseauxsociaux {
  padding-top : 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}
.reseauxsociaux img {
  height: 50px;
  filter: sepia(1);
-webkit-filter: sepia(1);
}

.reseauxsociaux img:hover {

filter: sepia(0);
-webkit-filter: sepia(0);
}

.net-centered {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.couleur {
  background-color: white
}

.homepage {
  background-color: white
}


// https://yesyouweb.com/filtres-images-css3/

