.fond {
  background-color: white;
  width: auto;
}

.logoter {
  padding-bottom: 10px;
}

.reseauxsociaux {
  padding-top : 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  z-index: 100;
}
.reseauxsociaux img {
  height: 50px;
  filter: sepia(1);
filter: opacity(25%);
}

.reseauxsociaux img:hover {
filter: sepia(0);
-webkit-filter: sepia(0);
}

.net-centered {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.couleur {
  background-color: white;
}

.homepage {
  background-color: white
}

.oreiller {
  height: 250px;
  width: 300px;
  align-items: center;
  padding-bottom: 20px;
}

.barre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
  background-color: #191970;
  color: white;
  align-items: center;
}

.navbarbis {
  position: sticky;
  z-index: 100;
}
// https://yesyouweb.com/filtres-images-css3/

